@import url('https://fonts.googleapis.com/css?family=Overpass|Lora');

.txt-center {
    text-align: center;
    font-family: "Overpass"
}

/* logo */

.font-Lora {
    font-family: "Lora"
}


/* navigation */
.nav-style {
    background-color: #7FEEB8;
}

.nav-links:hover {
    background-color: #77C9D4;
    font-weight: bold;
}

.nav-links:visited {
    color: #015249;
}

.announcements {
    height: 100px;
    background-color: #CCDDFF;
    padding-top:1px;
    margin: 5px 0 5px 0;
}

.footer-style {
    height: 75px;
    background-color: #7FEEB8;
    margin: 5px 0 5px 0;
    padding-top: 15px;
}
