@import url('https://fonts.googleapis.com/css?family=Overpass|Lora');

.txt-center {
    text-align: center;
    font-family: "Overpass"
}

/* logo */

.font-Lora {
    font-family: "Lora"
}


/* navigation */
.nav-style {
    background-color: #7FEEB8;
}

.nav-links:hover {
    background-color: #77C9D4;
    font-weight: bold;
}

.nav-links:visited {
    color: #015249;
}
