@import url('https://fonts.googleapis.com/css?family=Overpass|Lora');

body {
    background-color: #E6EBE0;
    padding: 0;
    margin: 0;
    font-family: "Overpass";
    color: #0f3736;
    text-align: center;
}

.container{
    margin: auto;
    overflow: hidden;
}

/* header */

header{
    font-family: "Lora";
}

header ul{
    background-color: #7FEEB8;
    margin: auto;
}


ul a:hover {
    background-color: #ed6a5a;
    font-weight: bold;
}

.nav-links:visited {
    color: #015249;
}
.nav-links:active{
    text-decoration: underline;

}

.announcements {
    min-height: 150px;
    background-color: #F4F1BB;
    padding-top: 25px;
    margin: 5px 0 5px 0;
}

#bistro{
    margin: auto;
}

#aboutSergio{
    min-height: 100px;
    font-size: 15px;
    line-height: 1.5;
}

#aboutSergio p{
    padding-top: 25px;
}


/* footer */

footer {
    height: 75px;
    background-color: #7FEEB8;
    margin: 5px 0 5px 0;
    padding-top: 15px;
}
