@import url('https://fonts.googleapis.com/css?family=Overpass|Lora');

body {
    background-color: #E6EBE0;
    padding: 0;
    margin: 0;
    font-family: "Overpass";
    color: #0f3736;
    text-align: center;
}

.container {
    margin: auto;
    overflow: hidden;
}

/* header */

header {
    font-family: "Lora";
}

header ul {
    background-color: #7FEEB8;
    margin: auto;
}

ul li a {
    color: #0f3736;
}


ul li a:hover {
    background-color: #ed6a5a;
    font-weight: bold;
}

ul li a:visited {
    color: #666644;
}

ul li a:active {
    text-decoration: underline;
}


/* footer */

footer {
    height: 75px;
    background-color: #7FEEB8;
    margin: 5px 0 5px 0;
    padding-top: 15px;
}
